@{
    Layout = "_Layout.cshtml";
}

<div class="contain-to-grid fixed">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1 class="logo">
                    <span class="first-line">Modern</span>
                    <span class="second-line">Mäklarmedia</span>
                </h1>
            </li>
        </ul>
    </nav>
</div>

@RenderBody()

<footer>
    <div class="row">
        <div class="logo">
            <span class="first-line">Modern</span>
            <span class="second-line">Mäklarmedia</span>
        </div>
    </div>
</footer>

@section styles
{
    @RenderSection("styles", required: false)
}

@section scripts {
    <script>
        $(document).ready(function () {
            $(window).one("scroll", function () { console.log("Scroll") });
        });
    </script>

    @RenderSection("scripts", required: false)
}