@model Caribbean.Aruba.Web.ViewModels.PrintTemplates.ChoosePrintTemplateModel

<h2>Välj trycksak</h2>

<ul>
    @foreach (var t in Model.AvailablePrintTypes)
    {
        if (string.IsNullOrEmpty(Model.SelectedObjectId))
        {
            <li>@Html.ActionLink(t.Slug + "-" + t.Description, "Choose", "RealEstateObjects", new { t = t.Slug }, null)</li>
        }
        else
        {
            <li>@Html.ActionLink(t.Slug + "-" + t.Description, "Create", "Prints", new { t = t.Slug, o = Model.SelectedObjectId }, null)</li>
        }
    }
</ul>
