@model Caribbean.Aruba.Web.ViewModels.FullTopbarLayoutViewModel

@{
    Layout = "../Shared/_LayoutFullTopbarAndFooter.cshtml";
}

<div class="page page-home">
    <section class="hero">
        <div class="row">
            <div class="text-box">
                <h2>Vad vill du skapa idag?</h2>
                <p>Rulla nedåt eller välj här!</p>
                @Html.ActionLink("Skapa nytt", "Choose", "PrintTemplates", null, new { role = "button", @class = "button" })
            </div>
        </div>
    </section>

    @*<section class="recent-objects">
            <div class="row">
                <h3>Detta är dina senaste objekt. Behöver du en trycksak?</h3>
                <div class="object-list">

                </div>
            </div>
        </section>*@
</div>

@section styles
{
    <style>
        html {
            background: url('/Images/balance-865091_1920.jpg') no-repeat center center fixed;
        }
    </style>
}
