<div class="page page-home">
    <div class="contain-to-grid fixed">
        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name">
                    <h1 class="logo">
                        <span class="first-line">Modern</span>
                        <span class="second-line">Mäklarmedia</span>
                    </h1>
                </li>
            </ul>
        </nav>
    </div>

    <section class="hero">
        <div class="row">
            <div class="text-box">
                <h2>Vad vill du skapa idag?</h2>
                <p>Rulla nedåt eller välj här!</p>
                <a role="button" href="#" class="button">Skapa nytt</a>
            </div>
        </div>
    </section>

    @*<section class="recent-objects">
        <div class="row">
            <h3>Detta är dina senaste objekt. Behöver du en trycksak?</h3>
            <div class="object-list">

            </div>
        </div>
    </section>*@

    <footer>
        <div class="row">
            <div class="logo">
                <span class="first-line">Modern</span>
                <span class="second-line">Mäklarmedia</span>
            </div>
        </div>
    </footer>
</div>