<div class="page page-home">
    <header>
        <div class="row">
            <div class="small-4 columns">one-third</div>
            <div class="small-4 columns">one-third</div>
            <div class="small-4 columns">one-third</div>
        </div>
    </header>

    <section class="hero"></section>

    <section class="recent-objects">
        <div class="row">
            <h3>Detta är dina senaste objekt. Behöver du en trycksak?</h3>
            <div class="object-list">

            </div>
        </div>
    </section>

    <footer></footer>
</div>