@import "../partials/variables";

.page-prints {
    .row-print {
        margin-bottom: rem-calc(30);

        &:last-child {
            margin-bottom: 0;
        }
    }

    .printstatus {
        padding: rem-calc(10) rem-calc(20) rem-calc(11);
        color: $white;
        font-size: rem-calc(11);
        line-height: rem-calc(13);
        display: inline-block;

        &.unknown {
            background-color: $primary-color;
        }

        &.inprogress {
            background-color: $primary-color;
        }

        &.completed {
            background-color: $primary-color;
        }

        &.ordered {
            background-color: $primary-color;
        }

        &.shipped {
            background-color: $primary-color;
        }

        &.received {
            background-color: $primary-color;
        }

        &.archived {
            background-color: $primary-color;
        }
    }

    .action-buttons {
        .button {
            margin-right: rem-calc(20);

            &:first-child {
                margin-right: 0;
            }
        }
    }
}
