@import "../partials/variables";
@import "../partials/logo";

$tab-bar-height: rem-calc(75);

.page-edit-print {
    .left-off-canvas-toggle, .toolbox-toogle {
        text-align: center;

        label {
            background-color: $darkpurple;

            i {
                font-size: rem-calc(40);
                line-height: $tab-bar-height;
                color: $white;
            }
        }
    }
    
    .action-buttons {
        width: 100%;

        .button {
            margin-top: rem-calc(12);
            margin-bottom: 0;
            margin-right: rem-calc(20);

            &:first-child {
                margin-right: 0;
            }
        }
    }

    .left-small {
        z-index: 1000;
    }

    .left-off-canvas-menu {
        header {
            background-color: $silver;
            height: $tab-bar-height;
            padding: 0 rem-calc(30);
            box-sizing: border-box;

            h3 {
                margin: 0;
                line-height: $tab-bar-height;
            }
        }

        .page-list {
            margin: rem-calc(30);

            li {
                cursor: pointer;
                list-style-type: none;
            }
        }
    }

    .edit-surface {
        position: relative;
        margin-top: $column-gutter;
        padding: 0 $column-gutter;

        .page-editor-wrap {
            position: relative;
            overflow: hidden;
            margin-left: auto;
            margin-right: auto;

            $aspect-ratio-a5: 1.38;
            $browser-address-bar-height-max: rem-calc(77); // Microsoft Edge 77px, Google Chrome 61px, Firefox 69px
            $os-task-bar-height-max: rem-calc(40); // Windows 10 40px
            $non-viewport-space-desktop: $browser-address-bar-height-max + $os-task-bar-height-max;
            $non-viewport-space-tablet: rem-calc(0);

            max-width: (rem-calc(1024) - $tab-bar-height - 2*$column-gutter - $non-viewport-space-tablet)/$aspect-ratio-a5; // optimized for portrait iPad 768x1024
            @media (orientation: landscape) {
                max-width: (rem-calc(768) - $tab-bar-height - 2*$column-gutter - $non-viewport-space-tablet)/$aspect-ratio-a5; // optimized for landscape iPad 1024x768
                @media (min-width: 1366px) {
                    max-width: (rem-calc(768) - $tab-bar-height - 2*$column-gutter - $non-viewport-space-desktop)/$aspect-ratio-a5; // optimized for landscape 1366x768
                }

                @media (min-width: 1440px) {
                    max-width: (rem-calc(900) - $tab-bar-height - 2*$column-gutter - $non-viewport-space-desktop)/$aspect-ratio-a5; // optimized for landscape 1440x900
                }

                @media (min-width: 1920px) {
                    max-width: (rem-calc(1080) - $tab-bar-height - 2*$column-gutter - $non-viewport-space-desktop)/$aspect-ratio-a5; // optimized for landscape 1920x1080
                    @media (min-height: 1200px) {
                        max-width: (rem-calc(1200) - $tab-bar-height - 2*$column-gutter - $non-viewport-space-desktop)/$aspect-ratio-a5; // optimized for landscape 1920x1200
                    }
                }
            }


            .page-editor {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;

                iframe {
                    overflow: hidden;
                }
            }
        }

        .toolbox {
            position: fixed;
            right: 0;
            top: $tab-bar-height;
            bottom: rem-calc(0);
            width: 100%;
            overflow: auto;
            max-width: rem-calc(400);
            background-color: $white;
            box-shadow: rem-calc(-2) 0 rem-calc(3) rgba(0,0,0,0.35);

            .tabs {
                .tab-title {
                    background-color: $silver;
                }
            }

            .tabs-content {
                padding-left: rem-calc(30);
                padding-right: rem-calc(30);
            }
        }

        &.toolbox-visible {
            @media (min-width: $medium-breakpoint) {
                padding-right: rem-calc(400) + $column-gutter;

                .toolbox {
                    box-shadow: none;
                }
            }
        }
    }

    .cke_chrome {
        box-shadow: none;
    }

    .textEditorToolbox, .htmlEditorToolbox, .imageEditorToolbox {
        .cke {
            margin-bottom: rem-calc(20);
        }

        button {
            margin-bottom: 0;
            margin-right: rem-calc(20);

            &:first-of-type {
                margin-right: 0;
            }
        }
    }

    .imageEditorToolbox {
        form {
            margin-bottom: rem-calc(30);

            button:focus {
                outline: none;
            }
        }
    }
}
