@import "../partials/variables";
@import "../partials/logo";

$tab-bar-height: rem-calc(75);

.page-edit-print {
    .left-off-canvas-toggle, .toolbox-toogle {
        text-align: center;

        label {
            background-color: $darkpurple;

            i {
                font-size: rem-calc(34);
                line-height: $tab-bar-height;
                color: $white;
            }
        }
    }

    .action-buttons {
        width: 100%;

        .button {
            margin-top: rem-calc(12);
            margin-bottom: 0;
            margin-right: rem-calc(20);

            &:first-child {
                margin-right: 0;
            }
        }
    }

    .left-small {
        z-index: 1000;
    }

    .left-off-canvas-menu {
        header {
            background-color: $silver;
            height: $tab-bar-height;
            padding: 0 rem-calc(30);
            box-sizing: border-box;

            h3 {
                margin: 0;
                line-height: $tab-bar-height;
            }
        }

        .page-list {
            margin: rem-calc(30);

            li {
                cursor: pointer;
                list-style-type: none;
                margin-bottom: rem-calc(15);

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .edit-surface {
        position: relative;
        margin: $column-gutter 0;
        padding: 0 $column-gutter;

        .page-editor-wrap {
            position: relative;
            overflow: hidden;
            margin-left: auto;
            margin-right: auto;

            .page-editor {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;

                iframe {
                    overflow: hidden;
                }
            }
        }

        .toolbox {
            position: fixed;
            right: 0;
            top: $tab-bar-height;
            bottom: rem-calc(0);
            width: 100%;
            overflow: auto;
            max-width: rem-calc(400);
            background-color: $white;
            box-shadow: rem-calc(-2) 0 rem-calc(3) rgba(0,0,0,0.35);

            .tabs {
                background-color: $silver;

                .tab-title {
                    background-color: $silver;

                    a:focus {
                        outline: none;
                    }
                }
            }

            .tabs-content {
                padding-left: rem-calc(30);
                padding-right: rem-calc(30);
            }
        }

        &.toolbox-visible {
            @media (min-width: $medium-breakpoint) {
                padding-right: rem-calc(400) + $column-gutter;

                .toolbox {
                    box-shadow: none;
                }
            }
        }
    }

    .cke_chrome {
        box-shadow: none;
    }

    .textEditorToolbox, .htmlEditorToolbox, .imageEditorToolbox {
        .cke {
            margin-bottom: rem-calc(20);
        }

        button {
            margin-bottom: 0;
            margin-right: rem-calc(20);

            &:first-of-type {
                margin-right: 0;
            }
        }
    }

    .imageEditorToolbox {
        form {
            margin-bottom: rem-calc(30);

            button:focus {
                outline: none;
            }
        }

        .object-images-list {
            img:hover {
                cursor: pointer;
            }
        }
    }
}
