@import "../partials/variables";
@import "../partials/logo";

.page-edit-print {
    .left-off-canvas-toggle {
        text-align: center;

        label {
            background-color: $darkpurple;

            i {
                font-size: rem-calc(40);
                line-height: rem-calc(75);
                color: $white;
            }
        }
    }

    .tab-bar-section.full-width {
        left: 0;
        right: 0;
        padding: 0;
    }

    .action-buttons {
        width: 100%;
        max-width: $row-width;
        margin: 0 auto;
        padding: 0 $column-gutter/2;

        .button {
            margin-top: rem-calc(12);
            margin-bottom: 0;
            margin-right: rem-calc(20);

            &:first-child {
                margin-right: 0;
            }
        }
    }

    .left-small {
        z-index: 1000;
    }

    .left-off-canvas-menu {
        header {
            background-color: $silver;
            height: rem-calc(75);
            padding: 0 rem-calc(30);
            box-sizing: border-box;

            h3 {
                margin: 0;
                line-height: rem-calc(75);
            }
        }

        .page-list {
            margin: rem-calc(30);

            li {
                cursor: pointer;
                list-style-type: none;
            }
        }
    }

    .edit-surface {
        margin-top: 50px;
    }

    .page-editor-wrap {
        position: relative;
        overflow: hidden;

        .page-editor {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            /*border: 1px solid #CCCCCC;*/
            iframe {
                overflow: hidden;
            }
        }
    }


    .toolbox {
        background-color: $white;

        .tabs {
            .tab-title {
                background-color: $silver;
            }
        }

        .tabs-content {
            padding-left: rem-calc(30);
            padding-right: rem-calc(30);
        }
    }

    .cke_chrome {
        box-shadow: none;
    }

    .textEditorToolbox, .htmlEditorToolbox, .imageEditorToolbox {
        .cke {
            margin-bottom: rem-calc(20);
        }

        button {
            margin-bottom: 0;
            margin-right: rem-calc(20);

            &:first-of-type {
                margin-right: 0;
            }
        }
    }

    .imageEditorToolbox {
        form {
            margin-bottom: rem-calc(30);

            button:focus {
                outline: none;
            }
        }

        .image-list {
            @include block-grid($per-row: 2, $spacing: rem-calc(20), $base-style: true );

            @media #{$medium-only} {
                @include block-grid($per-row: 3, $spacing: rem-calc(20), $base-style: true );
            }

            margin-bottom: rem-calc(10) !important;
        }
    }
}
