@import '../partials/variables';
@import 'foundation/components/buttons';

.page-home {
    .hero {
        padding-top: rem-calc(80);
        padding-bottom: rem-calc(80);

        .row {
            padding-left: rem-calc(60);
            padding-right: rem-calc(60);
        }

        .text-box {
            max-width: rem-calc(480);

            h2 {
                font-family: 'Advent Pro', sans-serif;
                font-weight: 200;
                font-size: rem-calc(80);
                color: $white;
                line-height: 1.1em;
            }

            p {
                color: $white;
                font-size: rem-calc(25);
                margin-top: rem-calc(25);
            }

            .button {
                margin-top: rem-calc(10);
                background-color: transparent;
                border: solid 1px $white;

                &:hover, &:focus {
                    background-color: $purple;
                }
            }
        }
    }

    /*.recent-objects {
        h3 {
            border-bottom: solid 1px gray;
        }
    }*/
}
