// COLORS
// The main colors are found in _foundation-settings.scss
$primary-dark           : #1B142A;
$primary-transparent    : #B50082;
$metal                  : #7F7F7F;
$fog                    : #DEDEDE;
