// OLD
$color-white: #fff;
$color-white-semi-transparent: rgba(255, 255, 255, 0.9);
$color-black: #000;
$color-gray-dark: #333333;
$color-gray-medium: #9B9B9B;
$color-gray-light: #CCCCCC;

$color-gray-border: $color-gray-medium;
$color-gray-border-light: $color-gray-light;

$color-primary: #4a90e2;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;


// COLORS
$white: #fff;
$black: #000;
$metal: #7F7F7F;
$silver: #DEDEDE;
$purple: #B50082;
$darkpurple: #1B142A;