@model Caribbean.Aruba.Web.ViewModels.Prints.EditPrintViewModel

<div ng-init="printId = '@Model.PrintId'; realEstateObjectId = '@Model.RealEstateObjectId';">
    <div ng-controller="printEditorCtrl">
        <div class="page page-edit-print">
            <div class="off-canvas-wrap" data-offcanvas>
                <div class="inner-wrap">
                    <nav class="tab-bar">
                        <section class="left-small">
                            <a class="left-off-canvas-toggle" href="#">
                                <label><i class="fi-page-multiple"></i></label>
                            </a>
                        </section>

                        <section class="middle tab-bar-section">
                            <div class="action-buttons clearfix">
                                @Html.ActionLink("Tillbaka till översikten", "GeneratePdfPages", new { id = Model.PrintId }, new { role = "button", @class = "button success right" })
                            </div>
                        </section>

                        <section class="right-small">
                            <a class="toolbox-toogle" ng-click="toggleToolbox()">
                                <label><i class="fi-widget"></i></label>
                            </a>
                        </section>
                    </nav>

                    <aside class="left-off-canvas-menu">
                        <header>
                            <h3>Sidplanering</h3>
                        </header>
                        <ul class="page-list">
                            <li ng-repeat="page in pages" ng-click="switchToPage(page.id)">
                                <img ng-src="{{page.thumbnailUrl}}" alt="Sida {{page.position}}" />
                            </li>
                        </ul>
                    </aside>

                    <div class="edit-surface" ng-class="{'toolbox-visible' : toolboxVisible}">
                        <div class="page-editor-wrap">
                            <div id="dummy" class="dummy"></div>
                            <div id="page-editor" class="page-editor">
                            </div>
                        </div>

                        <div class="toolbox" ng-show="toolboxVisible" ng-cloak>
                            <ul class="tabs" data-tab>
                                <li class="tab-title active"><a id="toolboxTab1" href="#panel1">Verktyg</a></li>
                                <li class="tab-title"><a id="toolboxTab2" href="#panel2">Mallar</a></li>
                                <li class="tab-title"><a id="toolboxTab3" href="#panel3">Extra</a></li>
                            </ul>
                            <div class="tabs-content">
                                <div class="content active" id="panel1">
                                    <div class="textEditorToolbox clearfix" ng-show="textEditorToolboxVisible">
                                        <form class="clearfix" name="textEditorForm" ng-show="textEditorFormReady">
                                            <textarea id="textEditor" name="body" ckeditor="textEditor" ng-model="textEditorValue"></textarea>
                                            <button class="right" ng-class="{disabled : textEditorForm.$pristine}" ng-click="textEditorForm.$pristine || saveTextEditorValue()">Spara</button>
                                            <button class="right" ng-class="{disabled : textEditorForm.$pristine}" ng-click="textEditorForm.$pristine || revertTextEditorValue()">Ångra</button>
                                        </form>
                                    </div>
                                    <div class="htmlEditorToolbox clearfix" ng-show="htmlEditorToolboxVisible">
                                        <form class="clearfix" name="htmlEditorForm" ng-show="htmlEditorFormReady">
                                            <textarea id="htmlEditor" name="body" ckeditor="htmlEditor" ng-model="htmlEditorValue"></textarea>
                                            <button class="right" ng-class="{disabled : htmlEditorForm.$pristine}" ng-click="htmlEditorForm.$pristine || saveHtmlEditorValue()">Spara</button>
                                            <button class="right" ng-class="{disabled : htmlEditorForm.$pristine}" ng-click="htmlEditorForm.$pristine || revertHtmlEditorValue()">Ångra</button>
                                        </form>
                                    </div>
                                    <div class="imageEditorToolbox clearfix" ng-show="imageEditorToolboxVisible">
                                        <form class="clearfix">
                                            <button class="left" ng-click="increaseImageSize()"><i class="fi-plus"></i></button>
                                            <button class="left" ng-click="decreaseImageSize()"><i class="fi-minus"></i></button>
                                        </form>
                                        <ul class="small-block-grid-2 object-images-list">
                                            <li ng-repeat="image in objectImages" ng-click="handleObjectImageClick(image.imageUrl)">
                                                <img ng-src="{{image.thumbnailUrl}}" alt="" />
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="content" id="panel2">
                                    <p>Kommer snart.</p>
                                </div>
                                <div class="content" id="panel3">
                                    <p>Kommer snart.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a class="exit-off-canvas"></a>
                </div>
            </div>
        </div>
    </div>
</div>

@section headscripts {
    <script src="~/Scripts/lib/angular.js"></script>
}

@section scripts
{
    <script src="~/Scripts/lib/lodash.js"></script>
    <script src="~/Scripts/vendor/jquery.guillotine.min.js"></script>
    <script src="~/Scripts/lib/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/lib/ng-ckeditor.js"></script>
    <script src="~/Scripts/design-page-app.js"></script>

    <script>
        //:If added as style below the image will show without fader temporarily
        $(document).ready(function() {
            $(document.documentElement).css("background", "url('/Images/notes-514998_1920.jpg') no-repeat center center fixed");
        });
    </script>
}

@section styles
{
    <style>
        .background-fader-layer {
            display: block;
        }
    </style>
}
