@model Caribbean.Aruba.Web.ViewModels.Prints.EditPrintViewModel

<div ng-init="printId = '@Model.PrintId'">
    <div ng-controller="printEditorCtrl">
        <div class="page page-edit-print">
            <div class="off-canvas-wrap" data-offcanvas>
                <div class="inner-wrap">
                    <nav class="tab-bar">
                        <section class="left-small">
                            <a class="left-off-canvas-toggle" href="#">
                                <label><i class="fi-page-multiple"></i></label>
                            </a>
                        </section>

                        <section class="full-width tab-bar-section">
                            <div class="action-buttons clearfix">
                                @Html.ActionLink("Tillbaka till översikten", "GeneratePdfPages", new { id = Model.PrintId }, new { role = "button", @class = "button success right" })
                                @*@Html.ActionLink("Granska", "Preview", new { id = Model.PrintId }, new { role = "button", @class = "button alert right" })*@
                            </div>
                        </section>
                    </nav>

                    <aside class="left-off-canvas-menu">
                        <header>
                            <h3>Sidplanering</h3>
                        </header>
                        <ul class="page-list">
                            <li ng-repeat="page in pages" ng-click="switchToPage(page.id)">
                                <img ng-src="{{page.thumbnailUrl}}" alt="Sida {{page.position}}" />
                            </li>
                        </ul>
                    </aside>

                    <div class="edit-surface">
                        <div class="row">
                            <div class="small-12 large-5 large-push-7 column">
                                <div class="toolbox">
                                    <ul class="tabs" data-tab>
                                        <li class="tab-title active"><a href="#panel1">Verktyg</a></li>
                                        <li class="tab-title"><a href="#panel2">Mallar</a></li>
                                        <li class="tab-title"><a href="#panel3">Extra</a></li>
                                    </ul>
                                    <div class="tabs-content">
                                        <div class="content active" id="panel1">
                                            <div class="textEditorToolbox clearfix" ng-show="textEditorToolboxVisible">
                                                <form class="clearfix">
                                                    <textarea id="textEditor" name="body" ckeditor="textEditor" ng-model="textEditorValue"></textarea>
                                                    <button class="right" ng-click="saveTextEditorValue()">Spara</button>
                                                </form>
                                            </div>
                                            <div class="htmlEditorToolbox clearfix" ng-show="htmlEditorToolboxVisible">
                                                <form class="clearfix">
                                                    <textarea id="htmlEditor" name="body" ckeditor="htmlEditor" ng-model="htmlEditorValue"></textarea>
                                                    <button class="right" ng-click="saveHtmlEditorValue()">Spara</button>
                                                </form>
                                            </div>
                                            <div class="imageEditorToolbox clearfix" ng-show="imageEditorToolboxVisible">
                                                <form class="clearfix">
                                                    <button class="left" ng-click="increaseImageSize()"><i class="fi-plus"></i></button>
                                                    <button class="left" ng-click="decreaseImageSize()"><i class="fi-minus"></i></button>
                                                </form>
                                                <ul class="image-list">
                                                    <li ng-repeat="image in images" ng-click="handleObjectImageClick(image.imageUrl)">
                                                        <img ng-src="{{image.thumbnailUrl}}" alt="" />
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="content" id="panel2">
                                            <p>Kommer snart.</p>
                                        </div>
                                        <div class="content" id="panel3">
                                            <p>Kommer snart.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="small-12 small large-7 large-pull-5 column">
                                <div class="page-editor-wrap">
                                    <div id="dummy" class="dummy"></div>
                                    <div id="page-editor" class="page-editor">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a class="exit-off-canvas"></a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/lib/angular.js"></script>
    <script src="~/Scripts/lib/lodash.js"></script>
    <script src="~/Scripts/vendor/jquery.guillotine.min.js"></script>
    <script src="~/Scripts/lib/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/lib/ng-ckeditor.js"></script>
    <script src="~/Scripts/design-page-app.js"></script>
}

@section styles
{
    <style>
        html {
            background: url('/Images/notes-514998_1920.jpg') no-repeat center center fixed;
        }

        body {
            background-color: rgba(240, 240, 240, 0.9);
        }
    </style>
}
