@model Caribbean.Aruba.Web.ViewModels.Prints.EditPrintViewModel

<div ng-init="printId = '@Model.PrintId'">
    <div ng-controller="printEditorCtrl">
        <div class="contain-to-grid fixed slim-topbar">
            <nav class="top-bar" data-topbar role="navigation">
                <ul class="title-area">
                    <li class="name">
                        <h1 class="logo">
                            <span class="first-line">Modern</span>
                            <span class="second-line">Mäklarmedia</span>
                        </h1>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="page page-edit-print">
            <div class="off-canvas-wrap" data-offcanvas>
                <div class="inner-wrap">

                    <a class="left-off-canvas-toggle" href="#">
                        <div><i class="fi-page-multiple"></i></div>
                    </a>

                    <aside class="left-off-canvas-menu">
                        <header>
                            <h3>Sidplanering</h3>
                        </header>
                        <ul class="page-list">
                            <li ng-repeat="page in pages" ng-click="switchToPage(page.id)">
                                <img ng-src="{{page.thumbnailUrl}}" alt="Sida {{page.position}}"/>
                            </li>
                        </ul>
                    </aside>

                    <div class="edit-surface">
                        <div class="row">
                            <div class="small-12 large-5 large-push-7 column">
                                <div class="toolbox">
                                    <ul class="tabs" data-tab>
                                        <li class="tab-title active"><a href="#panel1">Verktyg</a></li>
                                        <li class="tab-title"><a href="#panel2">Mallar</a></li>
                                        <li class="tab-title"><a href="#panel3">Extra</a></li>
                                    </ul>
                                    <div class="tabs-content">
                                        <div class="content active" id="panel1">
                                            <textarea ckeditor="editorOptions" ng-model="modelName"></textarea>
                                        </div>
                                        <div class="content" id="panel2">
                                            <p>Kommer snart.</p>
                                        </div>
                                        <div class="content" id="panel3">
                                            <p>Kommer snart.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="small-12 small large-7 large-pull-5 column">
                                <div class="page-editor-wrap">
                                    <div id="dummy" class="dummy"></div>
                                    <div id="page-editor" class="page-editor">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a class="exit-off-canvas"></a>
                </div>
            </div>
        </div>
    </div>
</div>
@*<ul>
        @foreach (var i in Model.ObjectImages)
        {
            <li>@i.ThumbnailUrl</li>
        }
    </ul>

    @using (Html.BeginForm(null, null, FormMethod.Post))
    {
        @Html.HiddenFor(m => m.PrintId)
        @Html.Hidden("PageId", Model.Page.Id)
        <button type="submit" class="btn btn-primary">Klar!</button>
    }

*@

@section scripts
{
    <script src="~/Scripts/lib/angular.js"></script>
    <script src="~/Scripts/vendor/jquery.guillotine.min.js"></script>
    <script src="~/Scripts/lib/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/lib/ng-ckeditor.js"></script>
    <script src="~/Scripts/design-page-app.js"></script>
}

@section styles
{
    <style>
        html {
            background: url('/Images/notes-514998_1920.jpg') no-repeat center center fixed;
        }

        body {
            background-color: rgba(240, 240, 240, 0.9);
        }
    </style>
}
